<div class="form-object">
    <div class="form-wrapper {{ classSuccess }}">
        <div class="flashbag">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="success-message">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        {{ form_start(object_form, {'attr': {'novalidate': 'novalidate', 'class': 'object-form' }}) }}

        <div class="main-error">{{ form_errors(object_form) }}</div>

        {{ form_end(object_form) }}
    </div>
</div>
