html,
body {
    height: 100%;
    font-size: 14px;
}

body {
    background-color: #C5CED5;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #000000;
    text-shadow: none;
    bpurchase: none;
    min-width: 960px;
}

header {
    display: block;
    min-width: 320px;
    top: 0;
    /*width: 100%;*/
    z-index: 1000;
}

header a.logo {
    display: block;
    font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 90px;
}

.fos-header-block.right {
    float: right;
}

.success-message {
    color: mediumblue;
}