{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
    <div class="main-wrapper">
        <div class="wrapper">
            <section id="section-content">
                {% block contentWrapper %}{% endblock contentWrapper %}
            </section>
        </div>
    </div>
{% endblock  body %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@TestSiteBundle/Resources/js/jquery-1.10.2.min.js'
    '@TestSiteBundle/Resources/js/object.js'
    output='js/siteBundle.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}

