{% extends 'TestSiteBundle::mainLayout.html.twig' %}

{% block contentWrapper %}
    <h1> Add object </h1>

    <label for="type">Choose type: </label>
    <select id="object_type" name="type">
        {% for key, val in options %}
            <option value="{{ key }}">{{ val }}</option>
        {% endfor %}
    </select>

    <div id="object_form">
        {{ form|raw }}
    </div>

{% endblock %}