{% extends 'TestSiteBundle::mainLayout.html.twig' %}

{% block contentWrapper %}
    <h1> Front page </h1>
    <div>
        <span><a href="{{ path('add_object_page') }}" class="button-link">+ Add object</a></span>
    </div>
    <div>
        <span><a href="{{ path('users_list') }}" class="button-link">Users</a></span>
        <span><a href="{{ path('products_list') }}" class="button-link">Products</a></span>
        {#<span><a href="{{ path('purchases_list') }}" class="button-link">Purchases</a></span>#}
    </div>
{% endblock %}