{% extends 'TestSiteBundle::mainLayout.html.twig' %}

{% block contentWrapper %}
    <h1>Products:</h1>

    <table id="product" class="object-list-table" style="width:50%">
        <tr>
            {% for key, val in headers %}
                <th>{{ val }}</th>
            {% endfor %}
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.price/100|number_format(2, '.', ',') }}</td>
                <td> from {{ product.number }} - {{ product.discount }}%</td>
                <td><a href="#" id="obj-{{ product.id }}" class="btn-object-delete"> Delete </a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}