{% extends 'TestSiteBundle::mainLayout.html.twig' %}

{% block contentWrapper %}
    <h1>Users:</h1>

    <table id="user" class="object-list-table" style="width:50%">
        <tr>
            {% for key, val in headers %}
                <th>{{ val }}</th>
            {% endfor %}
        </tr>
        {% for key, val in users %}
            <tr>
                <td>{{ val[0].fullName }}</td>
                <td>{{ val[0].email }}</td>
                <td>{{ val[0].phone }}</td>
                <td>{{ val[0].dob|date('d.m.Y') }}</td>
                <td>{{ val[0].city }}</td>
                <td>{{ val.purch_amount ? val.purch_amount : 0 }}</td>
                <td>{{ val.total_amount ? val.total_amount/100|number_format(2, '.', ',') : 0 }}</td>
                <td><a href="#" id="obj-{{ val[0].id }}" class="btn-object-delete"> Delete </a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}