{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="login-form-container-fluid">
        <div class="login-form-row-fluid">
            <div class="login-form-centering">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {#<img class="panel-logo" src="/adminImages/logo_desktop.png"/>#}
                        {#<div class="panel-title">{{ 'Log in'|trans }}</div>#}
                    </div>
                    <div class="panel-body">

                        <form class="login-form form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label">{{ 'security.login.username'|trans }}</label>
                                <div class="form-field col-sm-9">
                                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                                </div>

                                <label for="password" class="col-sm-3 control-label">{{ 'security.login.password'|trans }}</label>
                                <div class="form-field col-sm-9">
                                    <input type="password" id="password"  class="form-control"  name="_password" required="required" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group last-form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" id="_submit"  class="btn btn-default btn-success" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
