{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {#{% stylesheets#}
    {#output="/css/main.css" %}#}
    {#<link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all"/>#}
    {#{% endstylesheets %}#}

{% endblock stylesheets %}

{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


        {% block fos_user_content %}
        {% endblock fos_user_content %}

{% endblock  body %}